:root {
}

.unity-scroll-view {
    background-image: url("project://database/Assets/Artwork/UI/cardomancers%20inv%20ui%201.png?fileID=999915096&guid=199d1bc4609c4b8438b6144eb889cdf6&type=3#cardomancers inv ui 1_3");
    -unity-slice-left: 55;
    -unity-slice-top: 55;
    -unity-slice-right: 55;
    -unity-slice-bottom: 70;
}
