:root {
}

.Button:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(108, 178, 154);
    scale: 1.1 1.1 1.1;
    transition-timing-function: ease-in-back;
    transition-duration: 0.5s;
}
