:root {
}

.unity-button {
}

.unity-button:hover {
    scale: 1.1 1.1;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-circ;
}

.unity-button:active {
    scale: 0.9 0.9 0.9;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-cubic;
}

.background {
    background-image: url("Game Start Scene.png");
    background-repeat: repeat-x;
}
